<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.application.scripts.spicejettc02"/>
      <class name="com.application.scripts.eyeglasss06"/>
      <class name="com.application.scripts.bc06"/>
      <class name="com.application.scripts.bc05"/>
      <class name="com.application.scripts.bc04"/>
      <class name="com.application.scripts.bc09"/>
      <class name="com.application.scripts.eyeglasworld17"/>
      <class name="com.application.scripts.bc08"/>
      <class name="com.application.scripts.bc03"/>
      <class name="com.application.scripts.bc02"/>
      <class name="com.application.scripts.bc01"/>
      <class name="com.support.HtmlReportSupport"/>
      <class name="com.application.scripts.eyeglasss08"/>
      <class name="com.application.scripts.Eyeglassworld21"/>
      <class name="com.application.scripts.Eyeglassworld20"/>
      <class name="com.application.scripts.bc18"/>
      <class name="com.application.scripts.bc17"/>
      <class name="com.application.scripts.eyeglassworldinsideclick"/>
      <class name="com.application.scripts.bc16"/>
      <class name="com.application.scripts.bc15"/>
      <class name="com.application.scripts.citizenbank12"/>
      <class name="com.application.scripts.citizenbank13"/>
      <class name="com.application.scripts.citizenbank10"/>
      <class name="com.application.scripts.bc19"/>
      <class name="com.application.scripts.citizenbank11"/>
      <class name="com.application.scripts.citizenbank16"/>
      <class name="com.application.scripts.citizenbank17"/>
      <class name="com.application.scripts.citizenbank14"/>
      <class name="com.application.scripts.citizenbank15"/>
      <class name="com.application.scripts.bc14"/>
      <class name="com.application.scripts.bc13"/>
      <class name="com.application.scripts.citizenbank18"/>
      <class name="com.application.scripts.bc12"/>
      <class name="com.application.scripts.bc11"/>
      <class name="com.application.scripts.citizenbank19"/>
      <class name="com.application.scripts.bs07"/>
      <class name="com.application.scripts.Eyeglassworld11"/>
      <class name="com.application.scripts.bc29"/>
      <class name="com.application.scripts.bc28"/>
      <class name="com.application.scripts.bc27"/>
      <class name="com.application.scripts.bc26"/>
      <class name="com.application.scripts.citizenbank01"/>
      <class name="com.application.scripts.citizenbank02"/>
      <class name="com.application.scripts.bcbs23"/>
      <class name="com.application.scripts.bc21"/>
      <class name="com.application.scripts.citizenbank05"/>
      <class name="com.application.scripts.bc20"/>
      <class name="com.application.scripts.citizenbank06"/>
      <class name="com.application.scripts.citizenbank03"/>
      <class name="com.application.scripts.citizenbank04"/>
      <class name="com.application.scripts.bc25"/>
      <class name="com.application.scripts.window"/>
      <class name="com.application.scripts.bc24"/>
      <class name="com.application.scripts.citizenbank07"/>
      <class name="com.application.scripts.bc22"/>
      <class name="com.application.scripts.citizenbank30"/>
      <class name="com.application.scripts.citizenbank31"/>
      <class name="com.application.scripts.flipcard"/>
      <class name="com.application.scripts.citizenbank34"/>
      <class name="com.application.scripts.citizenbank35"/>
      <class name="com.application.scripts.citizenbank32"/>
      <class name="com.application.scripts.eyeglassworld10"/>
      <class name="com.application.scripts.citizenbank33"/>
      <class name="com.application.scripts.citizenbank38"/>
      <class name="com.application.scripts.citizenbank39"/>
      <class name="com.application.scripts.eyeglassworld12"/>
      <class name="com.application.scripts.citizenbank36"/>
      <class name="com.application.scripts.eyeglassworld13"/>
      <class name="com.application.scripts.citizenbank37"/>
      <class name="com.application.scripts.eyeglassworld14"/>
      <class name="com.application.scripts.eyeglassscrolldown05"/>
      <class name="com.application.scripts.eyeglassworld15"/>
      <class name="com.application.scripts.eyeglassworld16"/>
      <class name="com.application.scripts.eyeglassworld18"/>
      <class name="com.application.scripts.eyeglassworld09"/>
      <class name="com.application.scripts.citizenbank9"/>
      <class name="com.application.scripts.bs22"/>
      <class name="com.application.scripts.citizenbank8"/>
      <class name="com.application.scripts.eyeglass01"/>
      <class name="com.application.scripts.eyeglass02"/>
      <class name="com.application.scripts.citizenbank20"/>
      <class name="com.application.scripts.eyeglass03"/>
      <class name="com.application.scripts.eyeglass04"/>
      <class name="com.application.scripts.citizenbank23"/>
      <class name="com.application.scripts.citizenbank24"/>
      <class name="com.application.scripts.citizenbank21"/>
      <class name="com.application.scripts.citizenbank22"/>
      <class name="com.application.scripts.citizenbank27"/>
      <class name="com.application.scripts.citizenbank28"/>
      <class name="com.application.scripts.citizenbank25"/>
      <class name="com.application.scripts.citizenbank26"/>
      <class name="com.application.scripts.citizenbank29"/>
      <class name="com.application.scripts.eyeglassworld19"/>
      <class name="com.application.scripts.bcthreewindow10"/>
      <class name="com.application.scripts.bs30"/>
      <class name="com.sikuki.tc01"/>
      <class name="com.application.scripts.citizenbank50"/>
      <class name="com.application.scripts.tc04"/>
      <class name="com.application.scripts.tc03"/>
      <class name="com.application.scripts.citizenbank"/>
      <class name="com.application.scripts.Draganddrop"/>
      <class name="com.application.scripts.citizenbank41"/>
      <class name="com.application.scripts.citizenbank42"/>
      <class name="com.application.scripts.citizenbank40"/>
      <class name="com.application.scripts.citizenbank45"/>
      <class name="com.application.scripts.citizenbank46"/>
      <class name="com.application.scripts.citizenbank43"/>
      <class name="com.application.scripts.citizenbank44"/>
      <class name="com.application.scripts.citizenbank49"/>
      <class name="com.application.scripts.spicejettco1"/>
      <class name="com.application.scripts.citizenbank47"/>
      <class name="com.application.scripts.citizenbank48"/>
      <class name="com.accelerators.TestEngine"/>
      <class name="com.application.scripts.TC02"/>
      <class name="com.application.scripts.frame"/>
      <class name="com.application.scripts.eyeglasss07Attribute"/>
      <class name="com.application.scripts.TC01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
